.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 460px;
  margin: 0 10px;
}

.smallCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 300px;
  margin: 30px 10px;
}

.coffeeName {
  font-weight: bolder;
}

.newPrice {
  font-size: 19px;
  color: #a25f4b;
  margin: 0 5px;
  font-weight: bolder;
}

.prevPrice {
  font-size: 16px;
  text-decoration: line-through;
  margin: 0 5px;
}
